<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>mp</servlet-name>
    <servlet-class>myproject.helloworld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mp</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
